body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;

  --primary: #8100b4;
}
.nav {
  background-color: var(--primary);
  width: 100%;
  overflow: hidden;

  ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    li.nav-item {
      display: block;
      width: 100%;
      position: relative;

      &:before {
        content: "";
        display: block;
        width: 4px;
        height: 30px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &:nth-child(1) {
        &:before {
          content: "";
          display: none;
          width: 0;
        }
      }
    }
    a {
      color: #fff;
      text-decoration: none;
      display: inline-block;
      width: 100%;
      padding: 20px 0;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;

      &:visited {
        color: #fff;
      }
    }
  }

  .active {
    background: #ffffff;
    a {
      color: #8100b4;
      text-decoration: none;

      &:visited {
        color: #8100b4;
      }
    }
  }
  .day,
  .reading-nav {
    text-align: center;
    background-color: #3f3f3f;
    color: #fff;
    display: flex;
    a {
      font-size: 24px;
      font-weight: 900;
      letter-spacing: 10px;
      color: #fff;
      text-decoration: none;
      display: inline-block;
      width: 100%;
      padding: 30px 0;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;

      &:visited {
        color: #fff;
      }
    }
  }
}

.reading-nav {
  display: flex;
  position: relative;
}

section.section-container {
  padding: 50px;
  padding-bottom: 100px;
  max-width: 1600px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  .section-header {
    text-align: center;
  }

  p,
  li {
    line-height: 1.6em;
    font-size: 1em;
  }

  li {
    padding-bottom: 25px;
  }

  .short-list li {
    padding-bottom: 4px;
    line-height: normal;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .title {
    text-align: center;
    font-size: 24px;
    line-height: 1em;
    margin: 10px;
    margin-top: 40px;
  }

  .icon {
    text-align: center;
    font-size: 56px;
    position: relative;
    height: 130px;

    i {
      border: 5px solid #07960e;
      width: 130px;
      height: 130px;
      display: block;
      position: absolute;
      border-radius: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      &:before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.icon.not {
  i {
    border: 5px solid #ff0000;
  }
  &::after {
    content: "";
    width: 140px;
    height: 5px;
    top: 50%;
    transform: translate(-71px, -1px) rotate(45deg);
    background-color: #ff0000;
    position: absolute;
  }
}

footer {
  background-color: var(--primary);
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;

  .disclaimer {
    padding: 0px 50px;
  }

  a {
    color: #ffa600;

    &:visited {
      color: rgb(222, 100, 238);
    }
  }
}

.quote {
  margin-left: 20px;
  padding: 10px 0 10px 15px;
  border-left: 5px solid var(--primary);
  display: inline-block;
  font-style: italic;
  font-weight: 600;
}

.date {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  letter-spacing: normal;
  font-weight: 400;
}
#next {
  display: inline-block;
  position: absolute;
  right: -6px;
  top: 4px;
  transform: rotate(90deg);
  background-color: #646464;
  height: 20px;
  width: 88px;
  font-size: 16px;
  letter-spacing: normal;
  font-weight: 400;
}
#previous {
  display: inline-block;
  position: absolute;
  left: -6px;
  top: 4px;
  transform: rotate(-90deg);
  background-color: #646464;
  height: 20px;
  width: 88px;
  font-size: 16px;
  letter-spacing: normal;
  font-weight: 400;
}

.note {
  color: #a3a3a3;
}

blockquote {
  background-color: #e9dcf8;
  padding: 15px;
  border-radius: 5px;
}
@media screen and (min-width: 1200px) {
  .flex-item {
    position: relative;
    width: calc(25% - 50px);
    padding: 25px;
    text-align: justify;

    &:nth-child(1) {
      width: calc(50% - 50px);

      .description,
      .title {
        margin: 40px 0 auto auto;
        width: calc(50% - 25px);
      }

      i {
        left: 75%;
        top: 0;
        transform: translate(-50%, 0);
      }
    }

    &:nth-child(2) {
      width: calc(50% - 50px);

      .description,
      .title {
        margin: 40px auto auto 0;
        width: calc(50% - 25px);
      }

      i {
        left: 25%;
        top: 0;
        transform: translate(-50%, 0);
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .flex-item {
    position: relative;
    width: calc((100% / 3) - 50px);
    padding: 25px;
    text-align: justify;
  }
}
@media screen and (max-width: 768px) {
  section.section-container {
    padding: 25px;
    padding-bottom: 50px;
  }

  .flex-container .flex-item {
    text-align: center;
    width: 50%;
    padding: 25px 0 0 0;

    .icon {
      height: 80px;

      i {
        border-width: 2px;
        font-size: 40px;
        width: 80px;
        height: 80px;
      }
    }

    .title {
      font-size: 16px;
      margin-top: 25px;

      b {
        font-weight: 400;
      }
    }
  }
  .description {
    display: none;
    p {
      padding: 0px;
    }
  }

  .icon.not {
    &::after {
      width: 80px;
      height: 2px;
      transform: translate(-41px, 0px) rotate(45deg);
    }
  }
}

.section-disciplines {
  margin-bottom: 60px;
}

.field-guide {
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;

  li {
    list-style-type: none;
    text-align: center;
  }
}

.red {
  color: rgb(255, 0, 0);
}

.heading-list::marker {
  font-size: 1.5em;
}
