:root {
  box-sizing: border-box;
}
body {
  background-color: rgb(1, 10, 17);
  font-family: 'Train One', Geneva, Verdana, sans-serif;
  color: #fff;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: #cbe8ff;
  margin-bottom: 80px;
}

.row {
  display: flex;
  justify-content: center;

  .game-pad {
    height: 300px;
    width: 300px;
    margin: 10px;
  }
}

.green {
  background-color: #6fd66f;
  border-top-left-radius: 100%;

  &::after {
    border-top-left-radius: 100%;
  }
}
.red {
  background-color: #f77a7a;
  border-top-right-radius: 100%;

  &::after {
    border-top-right-radius: 100%;
  }
}
.blue {
  background-color: #7373f3;
  border-bottom-right-radius: 100%;

  &::after {
    border-bottom-right-radius: 100%;
  }
}
.yellow {
  background-color: #ebeb65;
  border-bottom-left-radius: 100%;

  &::after {
    border-bottom-left-radius: 100%;
  }
}

.game-pad-click {
  opacity: 1;

  &::after {
    border: 10px solid white;
    content: '';
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.432);
    display: block;
    box-sizing: border-box;
  }
}

.game-pad-lost {
  opacity: 1;

  &::after {
    border: 10px solid rgb(255, 49, 49);
    content: '';
    width: 300px;
    height: 300px;
    background-color: rgba(255, 117, 117, 0.432);
    display: block;
    box-sizing: border-box;
  }
}
.answer {
  opacity: 1;

  &::after {
    border: 10px solid rgb(49, 255, 100);
    content: '';
    width: 300px;
    height: 300px;
    background-color: rgba(117, 255, 140, 0.432);
    display: block;
    box-sizing: border-box;
  }
}
button {
  width: 100px;
  padding: 15px;
  margin: 0 10px;
  font-weight: 700;
}
.audio {
  background-color: #3a4;
  color: #fff;
  width: 300px;
  border: none;
  &:hover {
    background-color: rgb(5, 99, 36);
  }
}
.unclickable {
  pointer-events: none;
}

.rules {
  width: 325px;
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  text-align: justify;
  top: 300px;
  left: calc(50% - 800px);
  display: none;
}

.btn {
  display: block;
  position: absolute;
  top: 62px;
  left: calc(50% - 400px);
  height: 48px;
  border: none;
  border-radius: 5px;

  &:hover {
    background-color: #7373f3;
    color: #fff;
  }
}

.hide-show {
  display: block;
}
